@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<BookingData>

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries

@using RF.Modules.TestFlightAppointment.Services;

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/RF.Modules.TestFlightAppointment/Scripts/BookingGrid.js");

    ViewBag.Title = "Test flight Booking Detail";

    var cancelBookingID = String.Format("cancel-{0}", Guid.NewGuid());
    var errorID = String.Format("error-{0}", Guid.NewGuid());
}

@if (Model == null)
{
    <p>This is an invalid booking.</p>
}
else
{

    <h2>Flight schedule</h2>
    <hr />
    <h3>Departure at @Model.Booking.DepartureAt.ToString("yyyy-MM-dd HH:mm:ss") (UTC)</h3>
    <h3>Duration: @Model.Booking.Duration hour(s)</h3>

    <h3>Flight plan</h3>
    <hr />
    <p class="tf-plan-name">@Model.Plan.Name</p>
    <p class="tf-plan-description">@Model.Plan.Description</p>

    <h3>Passengers</h3>
    <hr />
    <table class="tf-participants">
        <thead>
            <tr>
                <th>Passenger</th>
                <th>Role</th>
                <th>Licence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in Model.Participants)
            {
                <tr>
                    <td>@participant.PassengerName</td>
                    <td>@participant.Role</td>
                    <td>@participant.PilotLicense</td>
                </tr>
            }
        </tbody>
    </table>

    <p id="@errorID"></p>
    <button type="button" id="@cancelBookingID" class="dnnDeleteAction">Cancel Test Flight</button>
}
<a id="cancelEdit" href="#" class="dnnSecondaryAction">Close</a>

<script type="text/javascript">
    (function ($, Sys) {
        $(function () {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });

            $('#@cancelBookingID').click(function () {

                var dialog = new BookingDialog(
                    'Confirm',
                    'Do you really want to cancel this booking?'
                );
                dialog
                    .option('cancel', { caption: 'Cancel' })
                    .option('confirm', { caption: 'Confirm', type: 'Delete' })
                    .show(function (choice) {
                        switch (choice) {
                            case 'cancel':
                                dnnModal.closePopUp(true);
                                break;

                            case 'confirm':
                                var proxy = new TestFlightBookingProxy(
                                    '@Dnn.ActiveModule.ModuleID',
                                    'TestFlightBooking'
                                );
                                proxy.cancel(
                                        @Model.Booking.BookingID,
                                    function (success, response) {
                                        if (success) {
                                            dnnModal.closePopUp(true);

                                        } else {
                                            $('#@errorID').html(response);

                                        }
                                    });
                                break;
                        }
                    })
            });
        });



    }(jQuery, window.Sys));
</script>